/* 
Stuff that helped me make this website (not everything is included here... there's so much xD)

- Of course FCC and their example Product Landing Page
- FCC community and forums :)
- FCC Responsive Web Design Certification tutorials

Flexbox:
- CSS Tricks (https://css-tricks.com/snippets/css/a-guide-to-flexbox/)

Grid:
- MDN Web Docs (https://developer.mozilla.org/en-US/docs/Glossary/Grid_Areas)

Miscleaneous:
- W3 schools (Circles in CSS: https://www.w3schools.com/howto/howto_css_circles.asp) (HTML em tag: https://www.w3schools.com/tags/tag_em.asp) (box shadow property: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp) (and many other ones...)
- Centering position: absolute elements (https://thoughtbot.com/blog/positioning#position)
- Sticky position (https://stackoverflow.com/questions/43707076/how-does-the-position-sticky-property-work)
- CSS Tricks (Fluid With Video: https://css-tricks.com/fluid-width-video/) (last of type: https://css-tricks.com/almanac/selectors/l/last-of-type/)
- Offsetting border (https://codepen.io/fxm90/pen/yNVeQm)
- Gave me idea of offsetting border: https://www.bestagencies.com/tools/outline-border-css-generator/
- *** Offsetting scrolling (https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/)
- Removing default form elements styles (iOS, etc. see from here: https://www.daretothink.co.uk/stop-ios-styling-your-input-fields-and-buttons/)
- Fonts taken from Google Fonts
- Google's color picker
- Quick google search of css box model

Transitions:
- CSS Tricks (Ease in and out: https://css-tricks.com/ease-out-in-ease-in-out/) (animating borders: https://css-tricks.com/animating-border/)

Shadows:
- How to animate box-shadow with silky smooth performance (https://tobiasahlin.com/blog/how-to-animate-box-shadow/)
- Smooth shadow generator (https://shadows.brumm.af/)

Acccessibility:
- WebAim contrast checker (https://webaim.org/resources/contrastchecker/)
- Alternatives when replacing outline (https://www.a11yproject.com/posts/2013-01-25-never-remove-css-outlines/)
- Semantic HTML (https://www.internetingishard.com/html-and-css/semantic-html/)
*/
